.info-title {
    width: 100%;
    background: #BE1119;
    color: #fff;

    font-size: 32px;
    font-weight: 700;
    text-align: center;

    padding: 26px 0;
    margin-bottom: 24px;
}

.politicas {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
}

.politica-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #7a7a7a;
}

.politica-item span {
    font-size: 16px;
    color: #000;
}

.politica-item a {
    font-size: 14px;
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 6px;
}

.politica-item a::after {
    content: "🔗";
    color: #c10000;
}

.politicas-boton {
    text-align: center;
    margin-top: 50px;
}

.btn-navegar {
    background: #000;
    color: #fff;
    padding: 12px 35px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
}
